.card-item{
    padding-top: 2rem;
    width: 12.5rem;
    display: flex;
    flex-direction: column;

    .image{
        width: 100%;
        height: 25rem;
        overflow: hidden;
        position: relative;

        &:hover{
            .second-img{
                z-index: 2;
            }
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }

        .main-img{
            z-index: 1;
        }

        span{
            position:absolute;
            z-index: 3;
            top: 3px;
            left: 3px;
            font-size: smaller;
            font-weight: bold;
            color: brown;
            background-color: white;
            padding: 2px;
            border-radius: 3%;
        }
    }    
    .price{
        display: flex;
        gap: 1rem;

        .old-price{
            color: grey;
            text-decoration: line-through;
        }
    }
    
}