.products{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    .left{
        flex: 1;
        position: sticky;
        height: 100%;
        top: 2rem;

        .filter-item{
            margin: 1rem;

            h2{
                font-size: large;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            .input-item{
                font-size: small;
                margin-bottom: 0.5rem;
                display: flex;

                label{
                    margin-left: 0.2rem;
                }
            }
        }
    }

    .right{
        flex: 3;

        @media screen and (max-width:916.5px) {
            .cat-img{
                display: none;
            }
        }
        @media screen and (min-width:1535.5px) {
            .cat-img{
                display: none;
            }
        }
    }
}