@import "../../scss/globals.scss";

// .navbar-header{

//     height: 5rem;
//     position: sticky;
//     top: 0px;
//     padding: 0 2.5rem 3rem 2.5rem;
//     background-color: $primary-color;
//     z-index: 10;

//     .wrapper{
//         display: flex;
//         justify-content: space-between;

//         .item{
//             margin: 1rem;
//             color: white;
//         }

//         .left{
//             display: flex;
//             align-items: center;

//         }
//         .center{
//             img{
//                 width: 5rem;
//                 object-fit: contain;
//             }
//         }
//         .right{
//             display: flex;
//             align-items: center;
//         }

//         .cartItem{
//             color: #777;
//             position: relative;
//             cursor: pointer;
//             span{
//                 background-color: rgb(40, 122, 210);
//                 font-size: 12px;
//                 width: 20px;
//                 height: 20px;
//                 border-radius: 50%;
//                 color: white;
//                 position: absolute;
//                 top: -0.5rem;
//                 right: -0.5rem;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//             }

//             .cart-icon{
//                 color: white;
//             }
//         }
//     }
// }
.navbar-header {
    .wrapper {
        background-color: $primary-color;
        // display: flex;

        @media screen and (max-width: 400px) {
            .container{
                max-width: 200px !important;
            }
        }

        @media screen and (min-width: 400px) and (max-width: 450px) {
            .container{
                max-width: 275px !important;
            }
        }

        @media screen and (min-width: 450px) and (max-width: 500px) {
            .container{
                max-width: 300px !important;
            }
        }

        @media screen and (min-width: 500px) and (max-width: 530px) {
            .container{
                max-width: 400px !important;
            }
        }
        
        @media screen and (min-width: 530px) and (max-width: 556.5px) {
            .container{
                max-width: 450px !important;
            }
        }

        @media screen and (min-width: 556.5px) and (max-width: 595.5px) {
            .container {
                max-width: 500px !important;
            }
        }

        @media screen and (min-width: 595.5px) and (max-width: 705.5px) {

            .container {
                max-width: 540px !important;
            }
        }
        

        @media screen and (min-width: 705.5px) and (max-width: 768px) {

            .container{
                max-width: 650px !important;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 822px) {

            .container{
                max-width: 650px !important;
            }
        }

        @media screen and (min-width: 822px) and (max-width: 956px) {

            .container{
                max-width: 735px !important;
            }
        }

        @media screen and (min-width: 956px) and (max-width: 990px){

            .container{
                max-width: 900px !important;
            }
        }

        .container-item {
            // justify-content: end;

            .logo {
                img {
                    width: 5rem;
                    object-fit: contain;
                }
            }

            .navbar-container {
                margin: auto;

                .item {
                    margin: 0 1.5rem 0 0;
                    color: white;

                    &:hover{
                        text-decoration: underline;
                    }

                }
            }



            // @media screen and (max-width: 992px){
            //     .cartItem {
            //         color: #777;
            //         position: relative;
            //         cursor: pointer;
            //         display: flex;
            //         margin-top: 1rem;
            //         // margin-left: 1.5rem;

            //         p{
            //             color:white;
            //             margin-right: 0.5rem;
            //         }

            //         .cart-icon {
            //             color: white;
            //         }

            //         span {
            //             background-color: rgb(40, 122, 210);
            //             font-size: 12px;
            //             width: 20px;
            //             height: 20px;
            //             border-radius: 50%;
            //             color: white;
            //             position: absolute;
            //             top: -0.5rem;
            //             left: 3.5rem;
            //             display: flex;
            //             align-items: center;
            //             justify-content: center;
            //         }
            //     }

            // } 

        }

        @media screen and (max-width: 991.5px) {
            .cartItem {
                p {
                    display: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }

                .cart-icon {
                    margin-bottom: 1rem;
                }
            }
        }

        .cartItem {
            color: #777;
            position: relative;
            cursor: pointer;
            display: flex;
            margin: 1rem 2rem 0 0;

            p {
                color: white;
                margin-right: 0.5rem;
                &:hover{
                    text-decoration: underline;
                }
            }

            .cart-icon {
                color: white;
            }

            span {
                background-color: rgb(40, 122, 210);
                font-size: 12px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                color: white;
                position: absolute;
                top: -0.5rem;
                right: -0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}